
@import url(https://fonts.googleapis.com/css?family=Century+Gothic);

body, h1, h2, h3, h4 {
    font-family: 'Centry Gothic', sans-serif !important;
}
body{
    overflow: scroll;
}
body img{
	max-width: 100%;
	height: auto;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
.nav>li>a>img {
    max-width: 100%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: TRANSPARENT;
}
ul.nav.nav-pills a {
    color: #fff;
}
ul.nav.nav-pills a:hover {
    background-color: #23527c;
}


/********************** section-1 *******************/
#section-1{
	background: url("../img/introbg.png") #020203 no-repeat center center; 
    background-color:#000000;
	height: 100vh;
	background-size: cover;
}
#section-1 .row{
	position: relative;;
}
#section-1 h2{
	color: #fff;
	text-shadow: 2px 2px #000000;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
}
#section-1 .redpill{
	padding-top: 130px;
}
#section-1 .play{
	width: 130px;
	position: absolute;
	top: 300px;
    left: 50%;
    margin-left: -65px;
}
#section-1 .scroll{
	width: 70px;
	position: absolute;
	top: 540px;
    left: 50%;
    margin-left: -25px;
}


.canvas-wrap { position:relative;}
.canvas-wrap canvas { position:absolute; top:0; left:0; z-index:0 }

#canv{
    height:100vh;
}


/********************* section-2 **************************/
#section-2{
	background: url("../img/sectiontwobg.png") #020203 no-repeat center center;
	height: 100vh;
	background-size: cover;
	padding-top: 30px;
}
#section-2 ul.nav.nav-pills{
	margin: 0 auto;
	width: 90%;
}
#section-2 .row{
	position: relative;;
}
#section-2 ul li.logo{
	width: 290px;
	margin-right: 60px;
}
#section-2 ul li.logo a{
	padding: 0px;
}
#section-2 h2{
	color: #fff;
	text-shadow: 2px 2px #000000;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}
#section-2 h3{
	color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 100 !important;
}

#section-2 .scroll{
	width: 70px;
	position: absolute;
	top: -40px;
    left: 51%;
    margin-left: -35px;
}
.head-thesolution {
    margin-top: 50px;
}
.section-2 .btn{
	border-radius: 15px;
	background-color: #316DB5 !important;
	background-image: none;
	padding: 5px 35px;
}
.section-2 .btn:hover{
	background-color: #0062BD !important;
	background-image: none !important;
}
.section-2 .btn img{
	height: 18px;
}

/************ section-3 ************/
#section-3{
	background: url("../img/particle.png") #020203 no-repeat center center;
	height: 100vh;
	background-size: cover;
	padding-top: 50px;
}
#section-3 .scroll{
	width: 70px;
	position: absolute;
	top: 110px;
    left: 50%;
    margin-left: -35px;
}

/******* sliders ****/
.your-class{
	color: #fff;
}
.your-class h3{
	font-size: 35px;
}
.your-class p{
	color: #333;
}
.your-class .content img {
	max-width: 100%;
	height: auto;
}
.your-class .content{
	width: 50%;
	border: 5px solid #fff;
}
.slider-nav{
	margin-top: 35px;
}
/**
.slider-nav .im{
	width: 110px !important;
}*/
.slider-nav img{
	max-width: 80%;
	height: auto; 
}

/********** chart *******/
.chart-cont{
	text-align: center;
	margin-top: 105px;
}
.spyce-cont{
	text-align: center;
}
.spyce-cont .spycecol{
	margin-top: 0px;
}
.labelz {
  position: relative;
  left: 12px;
  margin-top: -49px;
}
.labelz img{
  margin-left: -15px;   
}
.token-container{
  /**width: 700px; */
}
.total-token{
  float: left;
  padding-left: 0px;
  font-weight: 600;
  color: #0062BD;
  font-size: 14px;
  font-family: "Audiowide", Arial, Tahoma, sans-serif
}
.total-ethereum{
  float: right;
  padding-right: 0px;
  font-weight: 600;
  color: #0062BD;
  font-size: 14px;
  font-family: "Audiowide", Arial, Tahoma, sans-serif
}

/******** from glenn ***/

#containerz{
    text-align: center;
	background-image: url("../img/background-PNG.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: #FFFFFF;				
}
.category{
    display: inline-block;
    margin: 20px; 25px; 5px 0;
	padding: 0 0 0 20px;
	
}
	
.header-1 { align-content: center; padding: 0px; 0 0px; 0; color: #fff;}	
.header { align-content: center; padding: 40px; 0 0px; 0; color: #fff; margin-bottom: 10px;}	
.sub-header { font-size: 18px; color: aliceblue; padding: 30px 0 0 0;  margin: 0px;}
h2.header{
	margin-top: 0px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
a {color: #FFFFFF;}


/********** mobile responsiveness ***/

@media screen and (max-width: 1440px) and (min-width: 1368px){
	.section-1{
		height: 610px;
	}
	.section-1 .scroll{
		top: 550px;
	}
}
@media screen and (max-width: 1024px) and (min-device-width: 801px){
	.section-1{
		height: 550px;
	}
	.section-1 .scroll{
		top: 490px;
	}
	.section-1 h2{
		font-size: 40px;
	}
	.section-2 .nav-pills.nav>li>a{
		padding: 5px 9px;
	}
	.section-2 .nav-pills.nav>li.logo>a{
		padding-top: 3px;
	}
	.section-2 ul li.logo {
    	width: 175px;
    	margin-right: 15px;
	}

}
@media screen and (max-width: 1024){
	.slider-nav{
		width: 90%;
		margin: 0 auto;
	}
}
@media screen and (max-device-width: 800px) and (min-device-width: 601px){
	.section-1 {
	    height: 700px;
	}
	.section-1 .scroll{
		top: 640px;
	}
}
@media screen and (max-device-width: 800px){
	.section-2 ul.nav.nav-pills{
		width: 100%;
	}
	.section-2 ul li.logo{
		width: 255px;
	}
	.section-3 .scroll{
		top: 120px;
	}
}
@media screen and (max-device-width: 768px) and (min-device-width: 601px) and (min-device-height: 1024px ){
	.section-1 {
	    height: 730px;
	}
	.section-1 .scroll {
    	top: 665px;
	}
}
@media screen and (max-device-width: 600px) and (min-device-width: 481px){
	.section-1 {
	    height: 930px;
	}
	.section-1 .scroll{
		top: 860px;
	}
	.section-1 .play{
		top: 400px;
	}
}
@media screen and (max-device-width: 480px) and (min-device-width: 426px){
	.section-1 {
	    height: 1160px;
	}
	.section-1 .play {
	    top: 535px;
	}
	.section-1 .scroll{
		top: 1095px;
	}
	.section-1 h2{
		font-size: 60px;
	}
}
@media screen and (max-device-width: 425px) and (min-device-width: 415px){
	.section-1 {
	    height: 1260px;
	}
	.section-1 .play {
	    top: 590px;
	}
	.section-1 .scroll{
		top: 1180px;
	}
	.section-1 h2{
		font-size: 60px;
	}
}
@media screen and (max-device-width: 414px) and (min-device-width: 381px){
	.section-1 {
	    height: 1345px;
	}
	.section-1 .play {
	    top: 640px;
	}
	.section-1 .scroll{
		top: 1280px;
	}
	.section-1 h2{
		font-size: 60px;
	}
}
@media screen and (max-device-width: 380px) and (min-device-width: 360px){
	.section-1 {
	    height: 1485px;
	}
	.section-1 .play {
	    top: 705px;
	}
	.section-1 .scroll{
		top: 1410px;
	}
	.section-1 h2{
		font-size: 60px;
	}
}
@media screen and (max-device-width: 359px) and (min-device-width: 320px){
	.section-1 {
	    height: 1675px;
	}
	.section-1 .play {
	    top: 800px;
	}
	.section-1 .scroll{
		top: 1600px;
	}
	.section-1 h2{
		font-size: 60px;
	}
}
@media screen and (max-width: 480px){
  #chart-container,.labelz{
  
  }
  #chart-container #cpu-linear-gauge{
  	width: 270px !important;
  }
  .labelz{
		margin: -50px 0px 0px -10px !important;
  }
  .labelz img{
	width: 245px !important;
  }
  .tc-btnshadow{
    padding: 0 15px !important;
    font-size: 12px !important;
  }
  .token-container .total-token, .token-container .total-ethereum{
	float: none !important;
    font-size: 11px !important;
    padding-left: 0px !important;
  }
}

/* fade in animation for scroll button */

.scroll a{
     animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s;
}

.scroll a img{
    
animation:1s ease 2s normal forwards 1 fadein;
-webkit-animation:1s ease 2s normal forwards 1 fadein;
-moz-animation:1s ease 2s normal forwards 1 fadein;
-o-animation:1s ease 2s normal forwards 1 fadein;
opacity:0
}
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* remove line in the footer video */
.modal-footer{
    border-top:0px!important;
}

/* carousel zoom */
.slider-nav .im{
    margin-top:1%;
    margin-bottom:1%;
}
.im img{
    transition: transform .2s; 
    display:flex;
}

.im img:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);