#redpill{
    background:url('../images/introbg2.png') no-repeat center center; 
    background-color:#000000;
    height:100vh;
    background-size:cover; 
    
}
#redpill h2{
    color: #fff;
	text-shadow: 2px 2px #000000;
	text-align: center;
	font-size: 35px;
    font-size:calc(35px + 1.5vw);
	font-weight: 700;
}
#redpill .redpill{
    position:absolute;
    top:20%;
    left:13%;
    padding-left:5%;
    padding-right:5%;
}
@media only screen and (max-width: 1000px) {
    #redpill h2 {
        font-size:calc(25px + 1.5vw);
    }
}
#redpill .play-btn{
    position:absolute;
    top:45vh;
    padding-left:42%;
}
@media only screen and (max-width: 500px) {
    #redpill .play-btn {
       padding-left:31.3%;
    }
}
@media only screen and (min-width: 1000px) {
    #redpill .play-btn {
       padding-left:45.3%;
    }
}
#redpill .scroll{
    position:absolute;
    top:85vh;
    padding-left:47%;
}
#redpill .scroll img{
    height:55%;
    width:55%;
    min-height:55px;
    min-width:55px;
    max-height:55px;
    max-width:55px;
}
@media only screen and (max-width: 400px) {
    #redpill .scroll {
       padding-left:36.3%;
    }
}
#redpill .play img{
    max-height:110px;
    max-width:110px;
  
}
#ridpill #canv{
    height:100vh;
}
.modal-footer{
    border:0px;
}
.modal-body{
    background-color:#FFFFFF;
    padding:.8em;
    padding-bottom:.5em;
}
.modal-footer img{
    height:55%;
    width:55%;
    min-height:55px;
    min-width:55px;
    max-height:55px;
    max-width:55px;
    margin-top:2%;
}
